@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700);
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Hind";
}
* a,
*:before a,
*:after a {
  cursor: pointer;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f0f0;
  list-style-type: none;
}

.header {
  width: 100%;
  background-color: #414449;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 20px;
}

.header_logo {
  flex: 0 0 80px;
  margin-top: 5px;
}

.header_logo img {
  max-width: 100%;
}

.header_burger {
  display: none;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 5;
}

.header_list li {
  list-style-type: none;
  transition: all 0.3s linear;
}
.header_list li:hover {
  border-bottom: 1px solid #17BED2;
}

.header_link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header_logo {
    flex: 0 0 110px;
    margin-top: 15px;
  }

  .header_body {
    height: 60px;
    padding: 10px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    margin: 5px 10px 0 0;
  }

  .header_burger:before,
.header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 0 0 0;
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.945);
  }

  .header_menu.active {
    top: 0px;
  }

  .header_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .header_list li {
    padding: 15px;
    text-align: end;
    margin-right: 40px;
  }

  .header_link {
    font-size: 1.5em;
    border-bottom: 1px solid whitesmoke;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .header {
    width: 100%;
  }
}
.main__page {
  height: 570px;
  width: 100%;
  background-image: url(../img/1920x1080/01.jpg);
  background-size: cover;
}

.main__text {
  margin-left: 70px;
  height: 200px;
  border: 1px solid transparent;
}

.main__text_head {
  color: white;
  width: 700px;
}
.main__text_head h1 {
  margin-top: 110px;
  font-size: 5em;
  margin-bottom: 20px;
}
.main__text_head p {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .main__page {
    width: 100%;
    height: 510px;
  }

  .main__text {
    margin-left: 30px;
    font-size: 1em;
  }

  .main__text_head {
    width: 300px;
    margin-top: 10px;
  }
  .main__text_head h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3em;
    line-height: 1em;
  }
  .main__text_head p {
    margin: 10px 0 35px 0;
    line-height: 1.8em;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .main__page {
    width: 100%;
    height: 510px;
  }

  .main__text {
    font-size: 1.5em;
  }

  .main__text_head {
    width: 550px;
    margin-top: 10px;
  }
  .main__text_head h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3em;
    line-height: 1em;
  }
  .main__text_head p {
    margin: 10px 0 35px 0;
    line-height: 1.8em;
  }
}
.main_link a {
  color: white;
  border: 1px solid white;
  padding: 16px;
  font-size: 0.7em;
}

.grid__cards {
  margin: 100px;
}

.grid__cards_plate {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

.grid__item {
  transition: all 0.5s ease;
  width: 320px;
  padding: 30px;
  background-color: rgba(124, 124, 124, 0.062);
}
.grid__item p {
  width: 200px;
  color: #9b9b9b;
}
.grid__item h2 {
  color: #585858;
}
.grid__item img {
  transition: all 0.5s ease;
}

@media screen and (max-width: 767px) {
  .grid__cards {
    margin: 30px;
  }

  .grid__cards_plate {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
  }

  .grid__item {
    transition: all 0.5s ease;
    width: 150px;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.062);
  }
  .grid__item p {
    width: 110px;
    color: #9b9b9b;
    font-size: 14px;
  }
  .grid__item h2 {
    color: #585858;
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 17px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .grid__cards {
    margin: 80px;
  }

  .grid__cards_plate {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .grid__item {
    transition: all 0.5s ease;
    width: 300px;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.062);
  }
  .grid__item h2 {
    color: #585858;
  }
  .grid__item p {
    width: 200px;
    color: #9b9b9b;
  }
}
.item_1:hover {
  transform: translateY(-45px);
}
.item_1:hover img {
  transform: translateY(-10px);
  opacity: 0;
}

.item_2:hover {
  transform: translateY(-45px);
}
.item_2:hover img {
  transform: translateY(-10px);
  opacity: 0;
}

.item_3:hover {
  transform: translateY(-45px);
}
.item_3:hover img {
  transform: translateY(-10px);
  opacity: 0;
}

.item_4:hover {
  transform: translateY(45px);
}
.item_4:hover img {
  transform: translateY(-5px);
  opacity: 0;
}

.item_5:hover {
  transform: translateY(45px);
}
.item_5:hover img {
  transform: translateY(-5px);
  opacity: 0;
}

.item_6:hover {
  transform: translateY(45px);
}
.item_6:hover img {
  transform: translateY(-5px);
  opacity: 0;
}

.latest__product {
  color: #6e6e6e;
  margin: 100px;
}

.latest_head {
  margin-bottom: 50px;
  margin-left: 30px;
}
.latest_head p {
  color: #aaaaaa;
}

.latest__product_plate {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}
.latest__product_plate p {
  color: #aaaaaa;
  margin-bottom: 5px;
}
.latest__product_plate img {
  height: auto;
  width: 320px;
}
.latest__product_plate a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541);
}
.latest__product_plate a:hover {
  color: #aaaaaa;
}
.latest__product_plate a:after {
  content: url(../img/logos/greater-than-solid.svg);
  margin-left: 5px;
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .latest__product {
    color: #6e6e6e;
    margin: 0 auto;
    text-align: center;
  }

  .latest_head {
    margin-bottom: 50px;
  }
  .latest_head p {
    color: #aaaaaa;
  }

  .latest__product_plate {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .latest__product_plate p {
    color: #aaaaaa;
  }
  .latest__product_plate img {
    height: auto;
    width: 280px;
  }
  .latest__product_plate a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.541);
  }
  .latest__product_plate a:hover {
    color: #aaaaaa;
  }
  .latest__product_plate a:after {
    content: url(../img/logos/greater-than-solid.svg);
    margin-left: 5px;
    vertical-align: bottom;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .latest__product {
    color: #6e6e6e;
  }

  .latest_head {
    margin-bottom: 50px;
  }
  .latest_head p {
    color: #aaaaaa;
    font-size: 16px;
  }

  .grid__items {
    width: 250px;
    transition: all 0.5s ease;
  }

  .latest__product_plate {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-right: 270px;
  }
  .latest__product_plate p {
    color: #aaaaaa;
    font-size: 18px;
  }
  .latest__product_plate img {
    height: auto;
    width: 500px;
  }
  .latest__product_plate a {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.541);
  }
  .latest__product_plate a:hover {
    color: #aaaaaa;
  }
  .latest__product_plate a:after {
    content: url(../img/logos/greater-than-solid.svg);
    margin-left: 5px;
    vertical-align: bottom;
  }
}
.grid__items {
  width: 320px;
  transition: all 0.5s ease;
}

.item_11:hover {
  color: black;
  transform: translateX(-15px);
}

.item_22:hover {
  color: black;
  transform: translateX(-15px);
}

.item_33:hover {
  color: black;
  transform: translateX(-15px);
}

.partners {
  background: url(../img/1920x1080/123.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partners__pic {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 767px) {
  .partners__pic {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
  }
  .partners__pic img {
    height: auto;
    width: 150px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .partners__pic {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
  }
  .partners__pic img {
    height: auto;
    width: 120px;
  }
}
.plans {
  color: #6e6e6e;
  margin: 50px;
}

.plans_head {
  margin-bottom: 50px;
  margin-left: 30px;
}
.plans_head p {
  color: #aaaaaa;
}

.plans_plate {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.plans_plate p {
  color: #6e6e6e;
  margin-bottom: 10px;
}
.plans_plate h2 {
  margin-bottom: 20px;
}
.plans_plate a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #08b0c391;
  padding: 9px;
  transition: all 0.5s ease;
}
.plans_plate a:hover {
  color: black;
}

@media screen and (max-width: 767px) {
  .plans_head {
    margin: 1px;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .plans_plate {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .plans_plate p {
    color: #6e6e6e;
  }
  .plans_plate a {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.493);
    background-color: #08b0c391;
    padding: 10px;
    transition: all 0.5s ease;
  }
  .plans_plate a:hover {
    color: black;
  }
  .plans_plate .grid__plans {
    width: 200px;
    transition: all 0.5s ease;
    border: 1px solid rgba(104, 104, 104, 0.082);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 11px 28px -23px rgba(0, 0, 0, 0.75);
  }
  .plans_plate .grid__plans p:before {
    content: url(../img/logos/greater-than-solid.svg);
    margin-right: 5px;
    vertical-align: middle;
  }
  .plans_plate .plans__link {
    margin: 30px 0px 10px 0px;
    transition: all 0.5s ease;
  }
  .plans_plate .plans__link:hover {
    transform: translatex(10px);
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .plans {
    color: #6e6e6e;
  }

  .plans_head {
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .plans_head p {
    color: #aaaaaa;
  }

  .plans_plate {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .plans_plate p {
    color: #6e6e6e;
    margin-bottom: 10px;
  }
  .plans_plate h2 {
    margin-bottom: 20px;
  }
  .plans_plate a {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.541);
    background-color: #08b0c391;
    padding: 9px;
    transition: all 0.5s ease;
  }
  .plans_plate a:hover {
    color: black;
  }
  .plans_plate .grid__plans {
    width: 270px;
    transition: all 0.5s ease;
  }
  .plans_plate .grid__plans p:before {
    content: url(../img/logos/greater-than-solid.svg);
    margin-right: 5px;
    vertical-align: middle;
  }
  .plans_plate .plans__link {
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
  }
  .plans_plate .plans__link:hover {
    transform: translatex(10px);
  }
}
.grid__plans {
  width: 320px;
  transition: all 0.5s ease;
}
.grid__plans p:before {
  content: url(../img/logos/greater-than-solid.svg);
  margin-right: 5px;
  vertical-align: middle;
}

.plans__link {
  margin-top: 30px;
  transition: all 0.5s ease;
}
.plans__link:hover {
  transform: translatex(10px);
}

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Стрелка */
.slick-arrow {
  border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  border: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  border: 0;
}

/* Стрелка не активная */
/* Точки */
.slick-dots {
  border: 0;
}

.slick-dots li {
  border: 0;
}

.slick-dots button {
  border: 0;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 1;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #838383;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid black;
}

.slider__item {
  padding: 0px 15px;
  text-align: center;
}

.slider__item img {
  max-width: 100%;
}

.slider__body {
  background-color: #f0f0f0;
  padding: 20px;
}
.slider__body h1 {
  text-align: center;
  margin: 20px;
}

.our__clients {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background-color: #fff;
  text-align: center;
}

.our__text {
  align-self: center;
}
.our__text p {
  margin-top: 20px;
  width: 450px;
  line-height: 28px;
}

.our__picture {
  align-self: center;
}
.our__picture img {
  height: auto;
  width: 520px;
}

@media screen and (max-width: 767px) {
  .our__clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
  }

  .our__text {
    align-self: center;
  }
  .our__text p {
    margin-top: 20px;
    width: 250px;
    line-height: 29px;
  }

  .our__picture {
    align-self: center;
  }
  .our__picture img {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .our__clients {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: #fff;
  }

  .our__text {
    align-self: center;
  }
  .our__text p {
    margin-top: 20px;
    width: 300px;
    line-height: 29px;
  }

  .our__picture {
    align-self: center;
  }
  .our__picture img {
    height: auto;
    width: 350px;
  }
}
.grid-container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "two two one" "f s t";
}

.one_text {
  position: relative;
  top: 230px;
  padding: 15px;
  transition: all 0.5s ease;
}
.one_text:hover {
  background-color: rgba(255, 255, 255, 0.616);
}

.one {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  height: 350px;
  grid-area: one;
  background: url(../img/800x400/02.jpg);
  background-size: cover;
}

.two {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  height: 350px;
  grid-area: two;
  background: url(../img/800x400/01.jpg);
  background-size: cover;
}

.f {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  height: 350px;
  grid-area: f;
  background: url(../img/397x300/02.jpg);
  background-size: cover;
}

.s {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  height: 350px;
  grid-area: s;
  background: url(../img/397x300/03.jpg);
  background-size: cover;
}

.t {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  height: 350px;
  grid-area: t;
  background: url(../img/397x300/01.jpg);
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "two" "one" "f" "s" "t";
  }
  .one {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .two {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .f {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .s {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .t {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .grid-container {
    padding: 110px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px 5px;
    grid-template-areas: "two" "one" "f" "s" "t";
  }

  .one_text {
    position: relative;
    top: 200px;
    padding: 10px;
    transition: all 0.5s ease;
  }
  .one_text p {
    width: 400px;
  }
  .one_text:hover {
    background-color: rgba(255, 255, 255, 0.616);
  }

  .one {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    height: 350px;
    grid-area: one;
    background: url(../img/800x400/02.jpg) 0 20px no-repeat;
    background-size: cover;
  }

  .two {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    height: 350px;
    grid-area: two;
    background: url(../img/800x400/01.jpg) 0 20px no-repeat;
    background-size: cover;
  }

  .f {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    height: 350px;
    grid-area: f;
    background: url(../img/397x300/02.jpg) 0 50px no-repeat;
    background-size: cover;
  }

  .s {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    height: 350px;
    grid-area: s;
    background: url(../img/397x300/03.jpg) 0 50px no-repeat;
    background-size: cover;
  }

  .t {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    height: 350px;
    grid-area: t;
    background: url(../img/397x300/01.jpg) 0 50px no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 767px){
  .one {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  .two {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
  }
  .f {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }
  .s {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
  }
  .t {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
  }
  }

  @media screen and (min-width: 767px) and (max-width: 1024px){
  .one {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }
  .two {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
  }
  .f {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
  }
  .s {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
  }
  .t {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
  }
  }
  .one {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .two {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .f {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .s {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .t {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
}
.scroll {
  background-image: url(../img/1920x1080/home.jpg);
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 250px;
  text-align: center;
  background-color: rgba(94, 94, 94, 0.781);
  padding: 30px;
}
.main h1 {
  padding: 20px;
  color: white;
}

.secomd {
  height: 50px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}
.secomd a {
  font-size: 40px;
  color: white;
  transition: all 0.2s linear;
}
.secomd a:hover {
  color: #17BED2;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/1920x1080/01.jpg);
  background-size: cover;
  height: 750px;
}
.footer h3 {
  font-size: 25px;
  color: white;
}
.footer a {
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  color: white;
}
.forms .form_ {
  height: 50px;
  margin: 20px;
  padding: 10px;
  border: none;
  background-color: #2c2e31cc;
}
.forms .btn {
  height: 30px;
  border: none;
  background-color: #1a1c1dcc;
  color: white;
  width: 350px;
  margin: 0 auto;
}
.forms .btn:hover {
  background-color: #000000cc;
}

.footer__list li {
  margin: 15px 0 15px 0;
}

.footer__soc li {
  margin: 15px 0 15px 0;
}

@media screen and (min-width: 1100px) {
  .footer h3 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/1920x1080/01.jpg);
    background-size: cover;
    height: 700px;
  }
  .footer a {
    color: white;
  }

  .forms {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    text-align: center;
  }
  .forms .form_ {
    height: 40px;
    margin: 10px;
    border: none;
    background-color: #2c2e31cc;
    color: white;
  }
  .forms .btn {
    height: 30px;
    border: none;
    background-color: #1a1c1dcc;
    color: white;
    width: 200px;
    margin: 10px auto;
  }
  .forms .form_t {
    height: 90px;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__list li {
    margin: 8px;
  }

  .footer__soc {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__soc li {
    margin: 8px;
  }
}